<app-header></app-header>

<div class="buttons-group">
    <button class="btn button-size" routerLink="/markets/list" >
        <img src="assets/img/market.svg" alt="Supermarkets list" data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="'home-tooltips.supermarket-list' | translate"/>
    </button>
    <button class="btn button-size" routerLink="/products/list">
        <img src="assets/img/skin-care.svg" alt="Products list" data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="'home-tooltips.products-list' | translate"/>
    </button>
</div>

<app-footer></app-footer>